Presentation/main.aux
Presentation/main.out
Presentation/main.log
Presentation/main.synctex.gz
Presentation/main.bbl
Presentation/main.toc
Presentation/main.nav
Presentation/main.aux
Presentation/main.fls
Presentation/main.fdb_latexmk
Presentation/main.vrb
Presentation/main.blg
Presentation/main.snm
slidegentemp.py
Kinematics/.env
Kinematics/.ipynb_checkpoints
.env
.bashrc
Kinematics/.bashrc
